<!DOCTYPE html>
<html lang="pt"  
xmlns="http://www.w3.org/1999/xhtml"  
xmlns:th="http://www.thymeleaf.org"  
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  
layout:decorate="~{layout/layout-padrao}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destaques</title>
</head>
<body>
    <section layout:fragment="content">
        <main>
            <div>
                <div class="text-center title">
                  <h2>Destaques</h2>
                </div>
                 
                <div id="cardConf" class="container-fluid mt-2">
                    <div class="row">

                      <div class="col-sm col-10 col-md-3 col-lg-3 mb-4">
                        <a th:href="@{/produto1}">
                          <div class="card text-center">
                            <img src="img/gamer.jpg" alt="dest" type="dest">

                            <div class="card-body">
                              <h4 class="let">Telas Decorativas para quarto gamer</h4>
                              <p class="text-center let">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                              <h4 class="text-cor">R$43,00</h4>
                              <p class="text-secondary">Em até 10x no cartão ou até 5x no boleto bancário</p>
                              
                            </div>
                          </div>
                        </a>
                        
                      </div>

                      <div class="col-sm col-10 col-md-3 col-lg-3 mb-4">
                        <a th:href="@{/produto2}">
                          <div class="card text-center">
                            <img src="img/escrit.webp" alt="dest" type="dest">

                            <div class="card-body">
                              <h4 class="let">Telas Decorativas para seu escritório</h4>
                              <p class="text-center let">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                              <h4 class="text-cor">R$48,00</h4>
                              <p class="text-secondary">Em até 10x no cartão ou até 5x no boleto bancário</p>
                              
                            </div>
                          </div>
                        </a>
                        
                      </div>
                  
                      <div class="col-sm col-10 col-md-3 col-lg-3 mb-4">
                        <a th:href="@{/produto1}">
                          <div class="card text-center">
                            <img src="img/banban.jpg" alt="dest" type="dest">

                            <div class="card-body">
                              <h4 class="let">Telas Decorativas para banheiro</h4>
                              <p class="text-center let">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                              <h4 class="text-cor">R$76,00</h4>
                              <p class="text-secondary">Em até 10x no cartão ou até 5x no boleto bancário</p>
                              
                            </div>
                          </div>
                        </a>
                        
                      </div>
                  
                      <div class="col-sm col-10 col-md-3 col-lg-3 mb-4">
                        <a th:href="@{/produto2}">
                          <div class="card text-center">
                            <img src="img/salaJantar.webp" alt="dest" type="dest">

                            <div class="card-body">
                              <h4 class="let">Telas Decorativas para sala de jantar</h4>
                              <p class="text-center let">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                              <h4 class="text-cor">R$84,00</h4>
                              <p class="text-secondary">Em até 10x no cartão ou até 5x no boleto bancário</p>
                              
                            </div>
                          </div>
                        </a>
                        
                      </div>
    
                      <div class="col-sm col-10 col-md-3 col-lg-3 mb-4">
                        <a th:href="@{/produto1}">
                          <div class="card text-center">
                            <img src="img/escrit.webp" alt="dest" type="dest">

                            <div class="card-body">
                              <h4 class="let">Quadro Decorativo para seu escritório</h4>
                              <p class="text-center let">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                              <h4 class="text-cor">R$92,00</h4>
                              <p class="text-secondary">Em até 10x no cartão ou até 5x no boleto bancário</p>
                              
                            </div>
                          </div>
                        </a>
                        
                      </div>
                        
                      <div class="col-sm col-10 col-md-3 col-lg-3 mb-4">
                        <a th:href="@{/produto2}">
                          <div class="card text-center">
                            <img src="img/banban.jpg" alt="dest" type="dest">

                            <div class="card-body">
                              <h4 class="let">Telas Decorativas para seu banheiro</h4>
                              <p class="text-center let">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                              <h4 class="text-cor">R$138,00</h4>
                              <p class="text-secondary">Em até 10x no cartão ou até 5x no boleto bancário</p>
                              
                            </div>
                          </div>
                        </a>
                        
                      </div>
                  
                      <div class="col-sm col-10 col-md-3 col-lg-3 mb-4">
                        <a th:href="@{/produto1}">
                          <div class="card text-center">
                            <img src="img/salaJantar.webp" alt="dest" type="dest">

                            <div class="card-body">
                              <h4 class="let">Quadros Decorativos para sala de jantar</h4>
                              <p class="text-center let">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                              <h4 class="text-cor">R$120,00</h4>
                              <p class="text-secondary">Em até 10x no cartão ou até 5x no boleto bancário</p>
                              
                            </div>
                          </div>
                        </a>
                        
                      </div>
    
                      <div class="col-sm col-10 col-md-3 col-lg-3 mb-4">
                        <a th:href="@{/produto2}">
                          <div class="card text-center">
                            <img src="img/gamer.jpg" alt="dest" type="dest">

                            <div class="card-body">
                              <h4 class="let">Quadro Decorativo para seu quarto gamer</h4>
                              <p class="text-center let">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                              <h4 class="text-cor">R$100,00</h4>
                              <p class="text-secondary">Em até 10x no cartão ou até 5x no boleto bancário</p>
                              
                            </div>
                          </div>
                        </a>
                        
                      </div>
                        
                      <div class="col-sm col-10 col-md-3 col-lg-3 mb-4">
                        <a th:href="@{/produto1}">
                          <div class="card text-center">
                            <img src="img/banban.jpg" alt="dest" type="dest">

                            <div class="card-body">
                              <h4 class="let">Quadro Decorativo para banheiro</h4>
                              <p class="text-center let">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                              <h4 class="text-cor">R$94,00</h4>
                              <p class="text-secondary">Em até 10x no cartão ou até 5x no boleto bancário</p>
                              
                            </div>
                          </div>
                        </a>
                        
                      </div>
                        
                      <div class="col-sm col-10 col-md-3 col-lg-3 mb-4">
                        <a th:href="@{/produto2}">
                          <div class="card text-center">
                            <img src="img/salaJantar.webp" alt="dest" type="dest">

                            <div class="card-body">
                              <h4 class="let">Pinturas Decorativas para sala de jantar</h4>
                              <p class="text-center let">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                              <h4 class="text-cor">R$75,00</h4>
                              <p class="text-secondary">Em até 10x no cartão ou até 5x no boleto bancário</p>
                              
                            </div>
                          </div>
                        </a>
                        
                      </div>
    
                      <div class="col-sm col-10 col-md-3 col-lg-3 mb-4">
                        <a th:href="@{/produto1}">
                          <div class="card text-center">
                            <img src="img/gamer.jpg" alt="dest" type="dest">

                            <div class="card-body">
                              <h4 class="let">Telas Decorativas para seu quarto gamer</h4>
                              <p class="text-center let">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                              <h4 class="text-cor">R$75,00</h4>
                              <p class="text-secondary">Em até 10x no cartão ou até 5x no boleto bancário</p>
                              
                            </div>
                          </div>
                        </a>
                        
                      </div>
                        
                      <div class="col-sm col-10 col-md-3 col-lg-3 mb-4">
                        <a th:href="@{/produto2}">
                          <div class="card text-center">
                            <img src="img/escrit.webp" alt="dest" type="dest">

                            <div class="card-body">
                              <h4 class="let">Pinturas Decorativas para seu escritório</h4>
                              <p class="text-center let">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                              <h4 class="text-cor">R$50,00</h4>
                              <p class="text-secondary">Em até 10x no cartão ou até 5x no boleto bancário</p>
                              
                            </div>
                          </div>
                        </a>
                        
                      </div>

                      <div class="col-sm col-10 col-md-3 col-lg-3 mb-4">
                        <a th:href="@{/produto1}">
                          <div class="card text-center">
                            <img src="img/salaJantar.webp" alt="dest" type="dest">

                            <div class="card-body">
                              <h4 class="let">Quadros Decorativos para sua sala de jantar</h4>
                              <p class="text-center let">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                              <h4 class="text-cor">R$60,00</h4>
                              <p class="text-secondary">Em até 10x no cartão ou até 5x no boleto bancário</p>
                              
                            </div>
                          </div>
                        </a>
                        
                      </div>

                      <div class="col-sm col-10 col-md-3 col-lg-3 mb-4">
                        <a th:href="@{/produto2}">
                          <div class="card text-center">
                            <img src="img/gamer.jpg" alt="dest" type="dest">

                            <div class="card-body">
                              <h4 class="let">Telas Decorativas para seu quarto gamer</h4>
                              <p class="text-center let">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                              <h4 class="text-cor">R$128,00</h4>
                              <p class="text-secondary">Em até 10x no cartão ou até 5x no boleto bancário</p>
                              
                            </div>
                          </div>
                        </a>
                        
                      </div>
                        
                      <div class="col-sm col-10 col-md-3 col-lg-3 mb-4">
                        <a th:href="@{/produto1}">
                          <div class="card text-center">
                            <img src="img/escrit.webp" alt="dest" type="dest">

                            <div class="card-body">
                              <h4 class="let">Pinturas Decorativas para seu escritório</h4>
                              <p class="text-center let">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                              <h4 class="text-cor">R$46,00</h4>
                              <p class="text-secondary">Em até 10x no cartão ou até 5x no boleto bancário</p>
                              
                            </div>
                          </div>
                        </a>
                        
                      </div>
                      
                      <div class="col-sm col-10 col-md-3 col-lg-3 mb-4">
                        <a th:href="@{/produto2}">
                          <div class="card text-center">
                            <img src="img/banban.jpg" alt="dest" type="dest">

                            <div class="card-body">
                              <h4 class="let">Telas Decorativas para seu banheiro</h4>
                              <p class="text-center let">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                              <h4 class="text-cor">R$32,00</h4>
                              <p class="text-secondary">Em até 10x no cartão ou até 5x no boleto bancário</p>
                              
                            </div>
                          </div>
                        </a>
                        
                      </div>

                    </div>
                </div>
            </div>

            <nav id="navPag">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>

                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>

                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>

                </ul>
            </nav>
        </main>
    </section>
</body>
</html>