<!DOCTYPE html>
<html lang="pt"  
xmlns="http://www.w3.org/1999/xhtml"  
xmlns:th="http://www.thymeleaf.org"  
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  
layout:decorate="~{layout/layout-padrao}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ambientes</title>
</head>
<body>
    <section layout:fragment="content">
        <main>
            <div>
                <div class="text-center title">
                  <h2>Quarto Gamer</h2>
                </div>
                 
                <div id="cardConf" class="container-fluid mt-2">
                    <div class="row">

                      <div class="col-sm col-10 col-md-3 col-lg-3 mb-4">
                        <a th:href="@{/produto2}">
                          <div class="card text-center">
                            <img src="img/gamer.jpg" alt="quartGame" type="qg">

                            <div class="card-body">
                              <h4 class="let">Tela Decorativa para quarto gamer</h4>
                              <p class="text-center let">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                              <h4 class="text-cor">R$32,50</h4>
                              <p class="text-secondary">Em até 10x no cartão ou até 5x no boleto bancário</p>
                              
                            </div>
                          </div>
                        </a>
                        
                      </div>

                      <div class="col-sm col-10 col-md-3 col-lg-3 mb-4">
                        <a th:href="@{/produto1}">
                          <div class="card text-center">
                            <img src="img/quartoGamer.jpg" alt="quartGame" type="qg">

                            <div class="card-body">
                              <h4 class="let">Quadro Decorativa para quarto gamer</h4>
                              <p class="text-center let">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                              <h4 class="text-cor">R$30,00</h4>
                              <p class="text-secondary">Em até 10x no cartão ou até 5x no boleto bancário</p>
                              
                            </div>
                          </div>
                        </a>
                        
                      </div>

                      <div class="col-sm col-10 col-md-3 col-lg-3 mb-4">
                        <a th:href="@{/produto2}">
                          <div class="card text-center">
                            <img src="img/quartGamer.webp" alt="quartGame" type="qg">

                            <div class="card-body">
                              <h4 class="let">Tela Decorativa para quarto gamer</h4>
                              <p class="text-center let">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                              <h4 class="text-cor">R$35,00</h4>
                              <p class="text-secondary">Em até 10x no cartão ou até 5x no boleto bancário</p>
                              
                            </div>
                          </div>
                        </a>
                        
                      </div>
                        

                    </div>
                </div>
            </div>
        </main>
    </section>
</body>
</html>